*{
    margin: 0;
    padding: 0;
}

#container{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}
a{
    font-size: 30px;
    color: whitesmoke;
    text-decoration: none;
}